<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		<!-- 引入外部的属性文件 -->
		<context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
		
		<!-- 配置C3P0连接池 -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="driverClass" value="${jdbc.driverClass}"></property>
			<property name="jdbcUrl" value="${jdbc.url}"></property>
			<property name="user" value="${jdbc.username}"></property>
			<property name="password" value="${jdbc.password}"></property>
		</bean>
		
		<!-- 配置Hibernate的相关属性 -->
		<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
			<!-- 注入C3P0连接池 -->
			<property name="dataSource" ref="dataSource"></property>
			<!-- 配置Hibernate的属性 -->
			<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.format_sql">true</prop>
					<prop key="hibernate.hbm2ddl.auto">update</prop>
				</props>
			</property>
			
			<!-- 配置Hibernate的映射文件 -->
			<property name="mappingResources">
				<list>
					<value>com/cbt/domain/Product.hbm.xml</value>
				</list>
			</property>
			
		</bean>
		
		<!-- 配置ProductAction -->
		<bean id="productAction" class="com.cbt.action.ProductAction" scope="prototype">
			<property name="productService" ref="productService"></property>
		</bean>
		<!-- 配置ProductService -->
		<bean id="productService" class="com.cbt.service.ProductService">
			<property name="productDao" ref="productDao"></property>
		</bean>
		<!-- 配置ProductDao -->
		<bean id="productDao" class="com.cbt.dao.ProductDao">
			<!-- 由于ProductDao继承了HibernateDaoSupport,HibernateDaoSupport有sessionFactory成员变量，
				所以在ProductDao中不必声明SessionFactory，在此直接注入SessionFactory即可 -->
				<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		
		<!-- 添加事务管理器 -->
		<bean name="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		
		<!-- 开启注解事务 -->
		<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>